@font-face{
    font-family: 'Montserrat-Bold',sans-serif;
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face{
    font-family: 'Montserrat-Medium',sans-serif;
    src: url(../fonts/Montserrat-Medium.ttf) format('truetype');
}
@font-face{
    font-family: 'ProstoOne-Regular',sans-serif;
    src: url(../fonts/ProstoOne-Regular.ttf) format('truetype');
}
